/* IE8 Fixes - Reuze v1.01

/* Columns */
.ac.two-column > *, .ac.three-column > *, .ac.thumb > * { border-right: 0 !important; }
.ac.two-column > *:first-child +*+*, .ac.two-column > *:first-child +*+*+*+*, .ac.two-column > *:first-child +*+*+*+*+*+* { clear: left; }
.ac.three-column > *:first-child +*+*+*, .ac.three-column > *:first-child +*+*+*+*+*+* { clear: left; }
.ac.thumb > *:first-child +*+*+*, .ac.thumb > *:first-child +*+*+*+*+*+* { clear: left; }
@media only screen and (max-width: 60em) {
    .ac.three-column > *:first-child +*+*+*, .ac.three-column > *:first-child +*+*+*+*+*+*, ac.thumb > *:first-child +*+*+*, .ac.thumb > *:first-child +*+*+*+*+*+* { clear: none; }
    .ac.three-column > *:first-child +*+*, .ac.three-column > *:first-child +*+*+*+*, .ac.three-column > *:first-child +*+*+*+*+*+*, .ac.thumb > *:first-child +*+*, .ac.thumb > *:first-child +*+*+*+*, .ac.thumb > *:first-child +*+*+*+*+*+* { clear: left; }
}