/* =============================================================================
   Normalize 2.0.1
   ========================================================================== */

article,aside,details,figcaption,figure,footer,header,hgroup,nav,section,summary{display:block;}
audio,canvas,video{display:inline-block;}
audio:not([controls]){display:none;height:0;}
[hidden]{display:none;}
html{font-family:sans-serif;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;}
a:focus{outline:thin dotted;}
a:active,a:hover{outline:0;}
h1{font-size:2em;}
abbr[title]{border-bottom:1px dotted;}
b,strong{font-weight:bold;}
dfn{font-style:italic;}
mark{background:#ff0;color:#000;}
code,kbd,pre,samp{font-family:monospace, serif;font-size:1em;}
pre{white-space:pre-wrap;word-wrap:break-word;}
q{quotes:\201C \201D \2018 \2019;}
small{font-size:80%;}
sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}
sup{top:-.5em;}
sub{bottom:-.25em;}
img{border:0;}
svg:not(:root){overflow:hidden;}
fieldset{border:1px solid #c0c0c0;margin:0 2px;padding:.35em .625em .75em;}
button,input,select,textarea{font-family:inherit;font-size:100%;margin:0;}
button,input{line-height:normal;}
button,html input[type=button],/* 1 */
input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer;}
button[disabled],input[disabled]{cursor:default;}
input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0;}
input[type=search]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;}
input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none;}
textarea{overflow:auto;vertical-align:top;}
table{border-collapse:collapse;border-spacing:0;}
body,figure{margin:0;}
legend,button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;}

/* =============================================================================
   Foundation Grid
   ========================================================================== */

.row { max-width: 1140px; margin: 0 auto; }
.row .row { width: auto; max-width: 100%; min-width: 0; margin: 0 -20px; }
.row.collapse .column, .row.collapse .columns { padding: 0; }
.column, .columns { float: left; min-height: 1px; padding: 0 20px; position: relative; }
.column.centered, .columns.centered { float: none; margin: 0 auto; }
[class*="column"] + [class*="column"]:last-child { float: right; }
[class*="column"] + [class*="column"].end { float: left; }
.one, .row .one { width: 8.33333%; }
.two, .row .two { width: 16.66667%; }
.three, .row .three { width: 25%; }
.four, .row .four { width: 33.33333%; }
.five, .row .five { width: 41.66667%; }
.six, .row .six { width: 50%; }
.seven, .row .seven { width: 58.33333%; }
.eight, .row .eight { width: 66.66667%; }
.nine, .row .nine { width: 75%; }
.ten, .row .ten { width: 83.33333%; }
.eleven, .row .eleven { width: 91.66667%; }
.twelve, .row .twelve { width: 100%; }
.row .offset-by-one { margin-left: 8.33333%; }
.row .offset-by-two { margin-left: 16.66667%; }
.row .offset-by-three { margin-left: 25%; }
.row .offset-by-four { margin-left: 33.33333%; }
.row .offset-by-five { margin-left: 41.66667%; }
.row .offset-by-six { margin-left: 50%; }
.row .offset-by-seven { margin-left: 58.33333%; }
.row .offset-by-eight { margin-left: 66.66667%; }
.row .offset-by-nine { margin-left: 75%; }
.row .offset-by-ten { margin-left: 83.33333%; }
.push-two { left: 16.66667%; }
.pull-two { right: 16.66667%; }
.push-three { left: 25%; }
.pull-three { right: 25%; }
.push-four { left: 33.33333%; }
.pull-four { right: 33.33333%; }
.push-five { left: 41.66667%; }
.pull-five { right: 41.66667%; }
.push-six { left: 50%; }
.pull-six { right: 50%; }
.push-seven { left: 58.33333%; }
.pull-seven { right: 58.33333%; }
.push-eight { left: 66.66667%; }
.pull-eight { right: 66.66667%; }
.push-nine { left: 75%; }
.pull-nine { right: 75%; }
.push-ten { left: 83.33333%; }
.pull-ten { right: 83.33333%; }
img, object, embed { max-width: 100%; height: auto; }
object, embed { height: 100%; }
img { -ms-interpolation-mode: bicubic; }
#map_canvas img, .map_canvas img { max-width: none!important; }
.row, .clearfix { *zoom: 1; }
.row:before, .row:after, .clearfix:before, .clearfix:after { content: ""; display: table; }
.row:after, .clearfix:after { clear: both; }

/* =============================================================================
   Layout
   ========================================================================== */

html { background: url('../images/grey.png') repeat; }
.wrapper {
    max-width: 1180px;
    min-width: 280px;
    margin: 20px auto;
    background: url('../images/pattern.png') repeat-x top left;
    background-color: #fff;
    background-color: rgba(255, 255, 255, 0.85);
    padding: 0;
    border: 1px solid #eee;
    box-shadow: 0 2px 2px rgba(0,0,0,0.5);
}
.three { background-color: #efefef;  position: relative; }
.three h3 { margin-top: 16px; }
.nine { background: #fff; border: 1px solid #eee; }
.nine > header:first-child { margin: 15px 0; border-bottom: 2px solid #ccc; }
.twelve { padding: 0; margin-bottom: 0; }
.ac.sidebar, .pc.sidebar { width: 280px; }

/* =============================================================================
   Header
   ========================================================================== */

.twelve > header { position: relative; }
.twelve > header hgroup { margin: 25px 0 20px 20px; padding-left: 80px; background: url('../images/logo.png') no-repeat; height: 62px; display: inline-block; }
.twelve > header hgroup h1 { margin: 0; font-size: 36px; font-size: 3.6rem; }
.twelve > header a:hover { text-decoration: none; }

/* =============================================================================
   Reasons
   ========================================================================== */

#reasons { margin-top: -50px; }
a.reasons { position: absolute; top: 30px; right: 20px; display: block; color: #fff; background: #333; padding: 4px 6px; border: 2px solid #000; }
a.reasons:hover { cursor: pointer; background: #555; }
#reasons p { border-bottom: 1px #ddd solid; padding-bottom: 5px; margin: -5px 0 7px 42px; }
h3.r1, h3.r2, h3.r3, h3.r4, h3.r5, h3.r6, h3.r7 { padding-left: 42px; line-height: 42px; margin: 0; }
h3.r1 { background: url('../images/thumb1.png') no-repeat 2px 0; }
h3.r2 { background: url('../images/thumb2.png') no-repeat 2px 0; }
h3.r3 { background: url('../images/thumb3.png') no-repeat 2px 0; }
h3.r4 { background: url('../images/thumb4.png') no-repeat 2px 0; }
h3.r5 { background: url('../images/thumb5.png') no-repeat 2px 0; }
h3.r6 { background: url('../images/thumb6.png') no-repeat 2px 0; }
h3.r7 { background: url('../images/thumb7.png') no-repeat 2px 0; }

/* =============================================================================
   Footer
   ========================================================================== */

.twelve > footer { margin: 25px 15px 15px 15px; }
.twelve > footer p { text-align: center; color: #999; font-size: 12px; font-size: 1.2rem; padding: 5px 15px; border-top: 1px solid #eee; }

/* =============================================================================
   Code
   ========================================================================== */

.code { padding: 0 15px; margin: 10px 0 20px 0; border: 1px solid #eee; background: #fdfdfd; }

pre {
    font-family:Monaco,Menlo,Consolas,"Courier New",monospace;
    font-size:12px !important;
    font-size:1.2rem !important;
    color:#333;
    display:block;
    font-size:13px;
    line-height:20px;
    word-break:break-all;
    word-wrap:break-word;
}
pre.ellipsis { padding-left: 10px; }
pre.html { display: none; padding: 0 10px; margin-top: -20px; }

/* =============================================================================
   Transitions
   ========================================================================== */

a, p, h1, h2, h3, h4, h5, h6, img, td, ul, li, button, div, span, article, footer, header {
    -webkit-transition: all 0.25s ease-in-out;  
    -moz-transition: all 0.25s ease-in-out;  
    -ms-transition: all 0.25s ease-in-out;  
    -o-transition: all 0.25s ease-in-out;  
    transition: all 0.25s ease-in-out;  
}
/* {
    moz-transition: none;
    -webkit-transition: none;
    -o-transition: color 0 ease-in;
    transition: none;  
} */

/* =============================================================================
   Buttons
   ========================================================================== */

button#reset { width: 60px; padding: 5px; background: #cc0000; color: white; font-weight: bold; text-decoration: none; }
button#reset:hover {background: #dd0000;}
button#p-toggle, button#o-toggle { width: 26px; position: absolute; background: #fbfbfb; color: #000; font-weight: bold; text-align: center; padding: 0 5px; }
button#o-toggle { display: none; left: 158px; top: 18px; }
button#p-toggle { top: 16px; right: 15px; }
button#o-toggle:hover, button#p-toggle:hover { background: #fff; }

/* =============================================================================
   Forms
   ========================================================================== */

form.options { clear: both; }
form.options label { color: #333; font-weight: bold; display: inline-block; padding: 0 5px 0 0; vertical-align: middle; text-transform: uppercase; }
form.options label.hmax, form.options label.wmax { background: none; text-transform: none; color: #999; font-size: 12px; font-size: 1.2rem; }
form.options li.radio label { float: left; font-weight: normal; text-transform: none; }
form.options ul { margin: 0 0 15px 0; list-style-type: none; max-width: 320px; }
form.options ul li { background: none; padding: 0 5px; margin-bottom: 10px; }
form.options input, form.options select {
    color: #666;
    border: 1px solid rgba(255,255,255,0.6);
    background: linear-gradient(#eee, #fff);
    transition: all 0.3s ease-out;
    box-shadow: inset 0 1px 4px rgba(0,0,0,0.4);
    padding: 5px 5px 5px 2px;
    width: 100%;
    outline: none;
}
form.options input[type=radio] { float: left; width: auto; padding: 0; margin: 4px 10px 0 1px; }
form.options input { padding: 5px; }
form.options .message { color: #fff; font-size: 12px; font-size: 1.2rem; margin: 0 0 0 5px; color: #999; }
form.options button { position: absolute; top: 12px; right: 15px; }
form.options fieldset { width: 100%; padding-top: 10px; margin: 0 0 20px 0; border: 1px solid #dfdfdf; background: #ebebeb;}
form.options fieldset:first-child { padding-top: 0; }
form.options legend { color: #666; }
form.options ul li.half { float: left; width: 50%; }

/* ==========================================================================
   Foundation Mobile
   ========================================================================== */

@media only screen and (max-width: 767px) { 
    /* Mobile Grid */
    body { -webkit-text-size-adjust: none; -ms-text-size-adjust: none; width: 100%; min-width: 0; margin-left: 0; margin-right: 0; padding-left: 0; padding-right: 0; }
    .row { width: auto; min-width: 0; }
    .column, .columns { width: auto !important; float: none; }
    .column:last-child, .columns:last-child { float: none; }
    [class*="column"] + [class*="column"]:last-child { float: none; }
    .column:before, .columns:before, .column:after, .columns:after { content: ""; display: table; }
    .column:after, .columns:after { clear: both; }
    .offset-by-one, .offset-by-two, .offset-by-three, .offset-by-four, .offset-by-five, .offset-by-six, .offset-by-seven, .offset-by-eight, .offset-by-nine, .offset-by-ten { margin-left: 0 !important; }
    .push-two, .push-three, .push-four, .push-five, .push-six, .push-seven, .push-eight, .push-nine, .push-ten { left: auto; }
    .pull-two, .pull-three, .pull-four, .pull-five, .pull-six, .pull-seven, .pull-eight, .pull-nine, .pull-ten { right: auto; }
}

/* ==========================================================================
   Foundation Reveal
   ========================================================================== */

.reveal-modal-bg { position: fixed; height: 100%; width: 100%; background: #000; background: rgba(0, 0, 0, 0.45); z-index: 40; display: none; top: 0; left: 0; }
.reveal-modal { background: white; visibility: hidden; display: none; top: 100px; left: 50%; margin-left: -260px; width: 520px; position: absolute; z-index: 41; padding: 30px; -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.4); -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.4); box-shadow: 0 0 10px rgba(0, 0, 0, 0.4); }
.reveal-modal .close-reveal-modal { font-size: 22px; font-size: 2.2rem; line-height: .5; position: absolute; top: 8px; right: 11px; color: #aaa; text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.6); font-weight: bold; cursor: pointer; }
.reveal-modal.small { width: 30%; margin-left: -15%; }
.reveal-modal.medium { width: 50%; margin-left: -25%; }
.reveal-modal.large { width: 60%; margin-left: -30%; }
.reveal-modal.xlarge { width: 70%; margin-left: -35%; }
.reveal-modal.expand { width: 90%; margin-left: -45%; }
.reveal-modal .row { min-width: 0; margin-bottom: 10px; }
.reveal-modal > :first-child { margin-top: 0; }
.reveal-modal > :last-child { margin-bottom: 0; }

/* =============================================================================
   Media Queries
   ========================================================================== */

@media only screen and (max-width: 479px) {
    h4.special { font-size: 11px; font-size: 1.1rem; }
}
@media only screen and (max-width: 767px) {
    button#o-toggle { display: inline-block; }
    form.options { display: none; }
    a.reasons { display: none; }
}
@media only screen and (min-width: 480px) and (max-width: 767px) {
    h4.special { font-size: 16px; font-size: 1.6rem; }
}
@media only screen and (max-width: 960px) {
    .three, .row .three { width: 33.33333%; }
    .nine, .row .nine { width: 66.66667%; }
}

/* =============================================================================
   Miscellaneous
   ========================================================================== */

::-moz-selection{background:#b3d4fc;text-shadow:none;}
::selection{background:#b3d4fc;text-shadow:none;}
img{vertical-align:middle;}
.chromeframe {margin: 0.2em 0;background: #ccc;color: #000;padding: 0.2em 0;}
.github {float: right;}
hr { border: solid #eee; border-width: 1px 0 0; clear: both; margin: 18px 0 21px; height: 0; }
h1, h2, h3, h4, h5, h6 {font-family: "adelle-sans", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif !important;}
header hgroup h5 { font-family: arial, helvetica, sans-serif !important; color: #666; margin: 2px 0 0 2px; }
h4.special { color: #999; margin-bottom: 20px; }
ol li { margin-bottom: 10px; }

/* =============================================================================
   IE Fixes
   ========================================================================== */

.lt-ie9 form.options { padding-top: 8px; }
.lt-ie9 fieldset { position: relative; margin: 10px; }
.lt-ie9 fieldset legend { position: absolute; top: -8px; left: 8px; }
/* A little lipstick on the IE7 pig */
.lt-ie8 .nine { width: 68%; border: none; }
.lt-ie8 .twelve > header hgroup { margin: 20px 0 0 0; }
.lt-ie8 .github { margin-top: -15px; }
.lt-ie8 form.options fieldset:first-child { padding-top: 8px; }
.lt-ie8 form.options { width: 92%; padding-bottom: 20px; }
.lt-ie8 form.options button { right: 18px; }
.lt-ie8 form.options input { padding: 1px 0; }
.lt-ie8 form.options select { margin-top: 1px; }
.lt-ie8 form.options ul li.half { width: 45%; }
/* Get a real browser message */
.lt-ie8 body > .container { width: 100%; background: #fae692; border-bottom: 1px solid #666; }
.lt-ie8 body > .container .browser-message { max-width: 1140px; margin: 0 auto; padding: 0 20px 0 20px; }
.lt-ie8 body > .container .browser-message h5 { margin: 10px 0 8px 0; }